// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
	text-align: center;
}
.text-right {
	text-align: right;
}
.small-text {
	font-size: smaller;
}
#canvascontainer {
	width:620px;
	height: 720px;
	padding: 0 10px;
	margin: 0 auto;
}
#eventscontainer {
	width: 538px;
	border-left: 1px solid black;
	background: #f8f8f8;
	height: 718px;
	padding: 0 4px;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
#left-column-table tr td {
	height: 25px;
}
.single-event {
	border: solid 1px black;
	border-left: solid 4px blue;
	float: left;
	position: absolute;
	width: 528px;
	background: white;
}
.single-event.colliding {
	width: 264px;
	position: relative;
}
.blue {
	color:blue;
}